.nav {
    grid-area: n;
    background-color: aqua;
    padding: 15px;
}

.item a {
    color:white;
    text-decoration: none;
}
.item a.active{
    color:gold;
}
.friends{
    color:white;
    margin-top:50px;
    font-size: 40px;
}
.friendsList{

    display: flex;
    flex-wrap: wrap;
    height: 40px;
    align-content: space-between;
    font-size: 10px;
    justify-content: space-between;
}
.friendsItem {
    margin-top: 30px;
    color:white;

}
.friendsItem:nth-child(3){
    padding-left:0px
}
.circleFriends{
    position: relative;

    width: 30px;
    height: 30px;
    background: yellow;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 10px;


}