.personalInfoContainer {
    margin: 0;
    padding: 0 15px;
}

.profileInfo {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.headline {
    font-weight: bold;
}
.headline span{
    font-weight: normal;
    padding-left: 5px;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 5px;
}