.Users{
    width: 620px;
}
.usersContainer {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 120px 500px;
    height: max-content;
}

.img {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
}

.FollowBlock {
    display: grid;
    justify-content: center;
}

.containerUser {
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 1px solid black;
    border-radius: 5px;
}

.description {
    font-size: 12px;
    margin-top: 20px;
}
.button{
    padding: 5px;
    border:none;
    background-color: black;
    color: white;
    width: 80px;
    border-radius: 5px;
}
.button:hover{
    background-color: #50ff32;
}
.button:active{
    background-color: green;
}
.location{
    display: grid;
    justify-content: end;
}
.buttonShowMore{
    display: block;
    margin:5px auto;
}
