.friendContainer{
    display: block;
    position: relative;
    margin: 10px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
}

.friendContainer:hover .delete{
        background-color: #bae0ff;


}

.delete{
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    top:0;
    width: 15px;
    height: 15px;
    background-color: white;
    background-image: url("./../../../assets/deleteIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.friendContainer:hover .delete{
    display: block;
    background-color: white;

}
/*.friendContainer:nth-child(4n){*/
/*   margin-right: 0;*/
/*}*/
.ava{
    width: 50px;
}
.name{
      position: relative;
    width: 60px;

    word-break: break-word;
    text-align: center;
}
