.friendContainer{
    position: relative;
    margin: 10px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
}
.friendContainer a {
    color: black;
}
.friendContainer:hover{
    background-color: #bae0ff;

}
.friendContainer:hover:before{

    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: -1px;
    right: 0;
    background-image: url("./../../../assets/deleteIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-color: white;
    border-radius: 2px;


}


/*.friendContainer:nth-child(4n){*/
/*   margin-right: 0;*/
/*}*/
.ava{
    width: 50px;
}
.name{
      position: relative;
    width: 60px;

    word-break: break-word;
    text-align: center;
}
